@import url(https://js.arcgis.com/3.26/dojox/form/resources/RangeSlider.css);

@import url(../noUiSlider/nouislider.css);


.isdd {
	margin: 5px;
}

.sliders {
   width:300px;
   margin:10px;
}

.c-1-color { background: green; }
.c-2-color { background: yellow; }
.c-3-color { background: red; }